*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*main section*/
main{
  background-image: url('stripe.png');
  position: absolute;
  top: 6vh;
  width: 100%;
  height: 93.5vh;
  overflow: auto;
}

.top{
  width: 90%;
  margin: 3vh auto;
  padding: 1vh 0;
  background-color: rgb(27, 168, 117);
  background-color: rgba(27, 168, 117, 0.6);
}
  .up{
    margin: 0.5vh 2vw;
    display: flex;
    justify-content: space-between;
  }
    .up>h2{
      padding: 0.5vh 0.5vw;
      width: 50%;
      text-align: center;
      border-right: 1px solid rgb(27, 168, 117);
      background-color: ivory;
      color: rgb(27, 168, 117);
    }
    .up div{
      padding: 0.5vh 0.5vw;
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: ivory;
      color: rgb(27, 168, 117);
    }
      .up div label{
        margin: 0.3vh 0;
        display: flex;
        justify-content: space-between;
      }
        .up div label p{
          padding: 0 1vw;
          width: 30%;
          text-align: right;
        }
        .up div label span{
          width: 70%;
        }
  .top form{
    margin: 0.5vh 2vw;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
  }
    .top form>*{
      margin: 1vh 1vw;
    }
    .top form textarea{
      height: 10vh;
      overflow-y: auto;
      resize: none;
      font-size: 1rem;
      padding: 0.5vw 0.5vw;
    }
    .top form input[type='submit']{
      width: 10%;
      margin: auto;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5vw 0.5vw;
      color: rgb(27, 168, 117);
      background-color: ivory;
    }

.bottom{
  width: 90%;
  margin: auto;
  background-color: rgb(27, 168, 117);
  background-color: rgba(27, 168, 117, 0.6);
  background-color: lightgray;
  background-color: rgba(211, 211, 211, 0.6);
  color: black;
}
  .msg{
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
  }
    .msg>*{
      margin: 0 1vw;
    }
    .msg .msg-head{
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
    }
    .msg .msg-body{
      margin: 1vh 1vw 0;
      display: flex;
      align-items: stretch;
    }
      .msg .msg-body>textarea{
        width: 95%;
        height: 7vh;
        overflow-y: auto;
        resize: none;
        font-size: 0.8rem;
        padding: 0.5vw 0.5vw;
        background-color: lightgray;
      }
      .msg .msg-body>button{
        font-size: 0.8rem;
        font-weight: bold;
        margin: 1px;
        padding: 0.5vw 0.5vw;
        border-color: ivory;
        background-color: rgb(27, 168, 117);
        color: ivory;
      }
    .msg .cmt{
      background-color: rgb(8,7,7);
      display: flex;
      flex-direction: column;
      padding: 1vh 1vw;
    }
      .msg .cmt .posted_c{
        display: flex;
        flex-direction: column;
      }
      .msg .cmt .comments, .msg .cmt .posted_c>textarea, .msg .cmt>form{
        width: 97%;
        margin: auto 0 auto auto;
      }
      .msg .cmt .comments, .msg .cmt>form{
        margin-top: 1vh;
      }
      .msg .cmt .posted_c>textarea{
        resize: none;
        overflow-y: auto;
        font-size: 0.8rem;
        padding: 0.5vw 0.5vw;
        background-color: lightgray;
        border: 1px solid yellow;
      }
      .msg .cmt .comments{
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
      }
      .msg .cmt form{
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(8,7,7);
        background-color: rgb(27, 168, 117);
      }
        .msg .cmt form>h4{
          margin: 1vh 1vw;
        }
        .msg .cmt form>textarea{
          margin: 1vh 1vw;
          overflow-y: auto;
          resize: none;
          font-size: 0.8rem;
          padding: 0.5vw 0.5vw;
        }
        .msg .cmt form>input[type='submit']{
          width: 10%;
          margin: auto;
          font-size: 0.8rem;
          font-weight: bold;
          padding: 0.5vw 0.5vw;
          color: rgb(27, 168, 117);
          background-color: ivory;
        }
  /*end of main*/
