<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MyDashboard | Edit User</title>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <!-- <link rel="stylesheet" href="..\static\css\common.css"> -->
    <!-- <link rel="stylesheet" href="..\static\css\edit.css"> -->
  </head>
  <body>
    <header>
      <h1>MyDashboard</h1>
      <h3><a href="/">Home</a></h3>
      <div>
        {% if session['user'] %}
        <h3><a href="/users/edit/{{ session['user-id'] }}">Profile</a></h3>
        <h3><a href="/logoff"></as>Log off</a></h3>
        {% else %}
        <h3><a href="/login">Sign In</a></h3>
        {% endif %}
      </div>
    </header>
    <main>
      <div class="top">
        {% if session['page'] == 'edit' %}
          <div>
            <h3>Edit User - {{ session['edit_user']['fname'] }} {{ session['edit_user']['lname'] }}</h3>
            <h3><a href="/dashboard">Return to Dashboard</a></h3>
          </div>
        {% elif session['page'] == 'profile' %}
          <div>
            <h3>Edit Profile</h3>
          </div>
        {% endif %}
      </div>
      <div class="bottom">
        <div class="up">
          <form class="user-detail" action="/users/update/detail/{{ session['edit_user']['id'] }}" method="post">
            <fieldset>
              <legend>Edit Information</legend>
              <div>
                <label>Email:</label>
                {% if session['err']['email'] %}
                <span class="err">{{ session['err']['email'] }}</span>
                {% endif %}
              </div>
              <input type="text" name="email" value="{{ session['edit_user']['email'] }}">
              <div>
                <label>First Name:</label>
                {% if session['err']['fname'] %}
                <span class="err">{{ session['err']['fname'] }}</span>
                {% endif %}
              </div>
              <input type="text" name="fname" value="{{ session['edit_user']['fname'] }}">
              <div>
                <label>Last Name:</label>
                {% if session['err']['lname'] %}
                <span class="err">{{ session['err']['lname'] }}</span>
                {% endif %}
              </div>
              <input type="text" name="lname" value="{{ session['edit_user']['lname'] }}">
              {% if session['page'] == 'edit' %}
              <div>
                <label>User Level:</label>
              </div>
              <select name="level">
                {% if session['edit_user']['level'] == 9 %}
                <option value="9" selected="selected">Admin</option>
                <option value="1">Normal</option>
                {% else %}
                <option value="9">Admin</option>
                <option value="1" selected="selected">Normal</option>
                {% endif %}
              </select>
              {% endif %}
              <input type="submit" value="Save">
            </fieldset>
          </form>
          <form class="user-detail" action="/users/update/pwd/{{ session['edit_user']['id'] }}" method="post">
            <fieldset>
              <legend>Change Password</legend>
              <div>
                <label>Password:</label>
                {% if session['err']['pwd'] %}
                <span class="err">{{ session['err']['pwd'] }}</span>
                {% endif %}
              </div>
              <input type="password" name="password">
              <div>
                <label>Confirm Password:</label>
                {% if session['err']['cpwd'] %}
                <span class="err">{{ session['err']['cpwd'] }}</span>
                {% endif %}
              </div>
              <input type="password" name="c_password">
              <input type="submit" value="Save">
            </fieldset>
          </form>
        </div>
        {% if session['page'] == 'profile' %}
          <div class="down">
            <form class="user-desc" action="/users/update/desc/{{ session['edit_user']['id'] }}" method="post">
              <fieldset>
                <legend>Edit Description</legend>
                <textarea name="desc">{{ session['edit_user']['desc'] }}</textarea>
                <input type="submit" value="Save">
              </fieldset>
            </form>
          </div>
        {% endif %}
      </div>
    </main>
  </body>
</html>
